{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>Education</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'index/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'index/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/register.css' %}">

    </head>
    <body>


    {% block body %}


    {% endblock body %}


</body>
</html>