 
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->


      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">

 
        <li>
          <a href="{% url 'administrator:administrator' %}">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        
        <li>
          <a href="{% url 'administrator:faculty' %}">
            <i class="fa fa-list-alt"></i> <span>Faculty</span>
          </a>
        </li>
        <li>
          <a href="{% url 'administrator:department' %}">
            <i class="fa fa-list-alt"></i> <span>Department</span>
          </a>
        </li>
  
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-lock"></i> <span>Manage Profile</span>
          </a>
        </li>



      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>